<ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li><a href="<%= edit_campaign_path(@campaign) %>">Edit <%= @campaign.name %></a></li>
</ol>

<h2>Editing <%= @campaign.name %></h2>

<%= render 'form' %>

<p> <br> </p>
